/* whole page formatting for font, color, and spacing*/
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: darkblue;
    color: white;
    text-align: center;
}

h1, h2, h3{
    margin-bottom: 20px;
}

/* team selection and dropdown formatting*/
#team-selection{
    margin-top: 20px;
    margin-bottom: 20px;
}

select{
    padding: 5px 10px;
    font-size: 16px;
}

#team-info{
    background-color: darkred;
    padding: 20px;
}

#team-logo{
    width: 120px;
    margin-top: 10px;
}

#team-roster, #team-schedule{
    margin-top: 20px;
}

/* List formatting in the center*/
ul{
    list-style-position: inside;
    padding: 0;
    display: inline-block;
    text-align: left;
}

/* scoreboard and scorecard formatting and spacing in flexbox*/
#scoreboard{
    margin-top: 40px;
    background-color: darkred;
    padding: 20px;
}

#scoreboard-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.score-card {
    background-color: darkblue;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
    width: 35%; 
    min-width: 250px;
    transition: transform 0.2s, background-color 0.2s;
}

.score-card:hover {
    transform: scale(1.02);
    background-color: #001f3f;
}